@keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .fade {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }

  .animate-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
  }
  
  .animate-slide-in {
    opacity: 1;
    transform: translateY(0);
  }